  <div class="image_tag">
    <%= image_tag(@user.image_url, size: 150, class: "img-circle") if @user.image_url.present? %>
  </div>

<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">名前: </label>
  </div>
  <div class="col-md-8 col-6"><%= @user.name %></div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">年齢: </label>
  </div>
  <div class="col-md-8 col-6"><%= @user.age %></div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">方面: </label>
  </div>
  <div class="col-md-8 col-6"><%= @user.area %></div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">職種: </label>
  </div>
  <div class="col-md-8 col-6"><%= @user.branch %></div>
</div>
