<%= provide(:title, 'Login') %>
<h1>ログインする</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

         <%= f.label :email, "Eメール" %>
         <%= f.email_field :email, class: 'form-control' %>

         <%= f.label :password, "パスワード" %>
         <%= f.password_field :password, class: 'form-control' %>

         <%= f.label :remember_me, class: "checkbox inline" do %>
		   <%= f.check_box :remember_me %>
           <span>ログイン状態にしておく</span>
           <% end %>

         <%= f.submit "ログインする", class: "btn btn-primary" %>
        <% end %>

        <p>初めてですか ?</p>
        <p> でしたら<%= link_to "こちらを", signup_path %>をクリックしてください。
        </p>
    </div>
</div>
