<%= provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user-info">
      <h1>
      <div class="image">
       <div class="image_tag">
        <%= image_tag @user.image.url if @user.image.present? %>

       </div>
      </div>
       <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'posts/post' if @posts.any? %>
    <%= render 'questions/question' if @questions.any? %>
  </div>
</div>
