<h1>記事一覧</h1>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 40px">No.</th>
      <th scope="col" style="width: 50px">image</th>
      <th scope="col" style="width: 250px">タイトル</th>
      <th scope="col" style="width: 100px">投稿者</th>
      <th scope="col" style="width: 50px">投稿日</th>
    </tr>
<tbody>
<tr>
  <% @posts.each do |post| %>
    <th><%= post.id %></th>
    <td><%=image_tag(post.user.image_url, size: 50) if post.user.image_url present? %></td>
    <td><%= post.title %></td>
    <td><%= post.user.name %></td>
    <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
</tr>
<% end %>
</tbody>
</table>
<%= will_paginate @posts %>
