<h1>記事一覧</h1>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="width: 40px">No.</th>
      <th scope="col" style="width: 50px">image</th>
      <th scope="col" style="width: 250px">タイトル</th>
      <th scope="col" style="width: 100px">投稿者</th>
      <th scope="col" style="width: 50px">投稿日</th>
    </tr>
  <tbody>
    <tr>
      <% @posts.each do |post| %>
      <th><%= post.id %></th>
      <td><%= image_tag(post.user.image.url, size: 50, class: "img-circle") if post.user.image.url present? %></td>
      <td><%= link_to post.title, post %>
        <% if current_user.admin? || current_user && post.user_id == current_user.id %>
        <%= link_to "削除", post, method: :delete, data: {confirm: "本当に削除しますか？"}%>
        <% end %>
      </td>
      <td><%= post.user.name %></td>
      <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @posts %>