<div class="col-md-12 offset-md-3">
 <%= form_for(@post) do |post| %>
   <div class="field">
   <%= post.text_field :title, class: "form-control", placeholder: "タイトル" %>
   <%= post.text_area :content, rows: 20, placeholder: "投稿する" %>
   <%= post.submit "投稿", class: "btn btn-primary" %>
   <span class="image">
   <%= post.file_field :image, accept:'image/jpeg,image/gif,image/png' %>
   </span>
   </div>
 <% end %>

  <script type="text/javascript">
    $('#post_image').bind('change', function(){
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes >5){
        alert("最大ファイルは５MBまでです！小さいファイルを選び直してください！")
      }
    });
  </script>
  </div>
</div>
